/**
 * Ayu Mirage theme for Prism.js
 * Based on Ayu Mirage color palette
 */

code[class*="language-"],
pre[class*="language-"] {
	color: #cbccc6;
	background: #1f2430;
	text-shadow: none;
	font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
	font-size: 1em;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
	padding: 1em;
	margin: 0.5em 0;
	overflow: auto;
	border-radius: 0.3em;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background: #1f2430;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: 0.1em;
	border-radius: 0.3em;
	white-space: normal;
}

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: #5c6773;
}

.token.punctuation {
	color: #cccac2;
}

.token.tag,
.token.attr-name,
.token.namespace,
.token.deleted {
	color: #e6b450;
}

.token.function-name {
	color: #ffb454;
}

.token.boolean,
.token.number,
.token.function {
	color: #ffb454;
}

.token.property,
.token.class-name,
.token.constant,
.token.symbol {
	color: #ffb454;
}

.token.selector,
.token.important,
.token.atrule,
.token.keyword,
.token.builtin {
	color: #ff7733;
}

.token.string,
.token.char,
.token.attr-value,
.token.regex,
.token.variable {
	color: #bae67e;
}

.token.operator,
.token.entity,
.token.url {
	color: #f29668;
}

.token.important,
.token.bold {
	font-weight: bold;
}

.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}

.token.inserted {
	color: #a6cc70;
}
